@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .custom-gradient {
    background: linear-gradient(to bottom, #6F4183 50%, #ffffff 50%);
  }
  .headerShadow{
    box-shadow: 0px 1px 0px 0px #E5E9F2;
  }
  .transition-g {
    transition: all 0.3s ease-in-out;
  }
  .scaling {
    transform: scale(1.03);
  }
  .gridCol {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .borderAttributes {
    border-width: 2px;
    border-style: solid;
    transition: all 0.3s ease-in-out;
  }
  .borderAttributes:hover {
    background-color: transparent;
  }
  .unsetPosition {
    position: unset;
  }
}
